<a href="https://colab.research.google.com/github/RLeclair/codingclub/blob/master/Lesson5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Lesson 5: Review and Questions**

### In lesson 5 we'll do some exercises from Lesson 1 to Lesson 4
- I have included hints for some of them
  - Example hint for printing a function: `print(<What you want to print>)` 
  - Replace the text within the <> and the <> with the prompt inside

## Lesson 1
- Hello world
- Variables
- Working with strings

In [ ]:
# Exercise 1.1: Use the print function to print "Hello world"
print("Hello world")

Hello world

In [ ]:
# Exercise 1.2: Fill in the variables below:

# Fill with a string
string_variable = "Hello world"

# Fill with an integer
int_variable = 2

# Fill with a decimal
dec_variable = 2.45

# Fill with a boolean (True or False)
bool_variable = False

In [ ]:
# Exercise 1.3: Create a variable, store something in it, and print it
my_variable = "Hello"
print(my_variable)

Hello

In [ ]:
# Exercise 1.4: Join the two strings below and print them

string_one = "Hello "
string_two = "world!"

string_three = string_one + string_two
print(string_three)

Hello world!

In [ ]:
# Exercise 1.5: Use the lower() string function to make the string below into lowercase and print it

my_string = "PYTHON"
print(my_string.lower())

python

In [ ]:
# Exercise 1.6: Use the replace() function to replace apple with orange and print it

# Hint: <variable name>.replace(<what you want to replace>, <what you replace it with>)

my_fruit = "I have an apple"

print(my_fruit.replace("apple", "orange"))

I have an orange

In [ ]:
# Exercise 1.7: Get the length of the string below using the len() function and print the result
# Hint: len(<variable name>)

my_lenstring = "13 characters"
print(len(my_lenstring))

13

In [ ]:
# Exercise 1.8: Index into the letter p of the variable below and print the result
# Hint: Use square brackets after the variable name and give the index, remember that we start counting from zero

my_word = "carpet"
print(my_word[3])

p

## Lesson 2
- Working with numbers
- If statements
- Comparisons
- For loops

In [ ]:
# Exercise 2.1: Add two numbers and print the result
print(5+2)

7

In [ ]:
# Exercise 2.2: Get the absolute value of the number below and print it
# Hint: Use the abs(<Insert number>) function
my_negnum = -100

print(abs(my_negnum))

100

In [ ]:
# Exercise 2.3: Use the max function to find the max between 10 and 15 and print it
# Hint: Use max(<number 1>, <number 2>)
print(max(10,-15))

10

In [ ]:
# Exercise 2.4: Cast the following integer into a string using str() and print it
my_strint = 3
print(str(my_strint))

3

In [ ]:
# Exercise 2.5: Cast the following decimal into a string and print it
my_decimal = 3.14

print(str(my_decimal) + " is pi")

3.14 is pi

In [ ]:
# Exercise 2.6: Use the input() function to ask the user for their favorite food and print it
# Hint: input(<Prompt goes here>)

favorite_food = input("What is your favorite food?")

print(favorite_food)

What is your favorite food?crepes
crepes

In [ ]:
# Exercise 2.7: Create an if statement that prints "It's true" if the variable below is True
# Hint: if <condition or variable name>: 
# Remember that we should do indentation after every colon as that's what would be "inside"

my_boolean = False
if my_boolean:
  print("It's true")
print("This is outside")

This is outside

In [ ]:
# Exercise 2.8: Add an else statement to the if statement from 2.7 that prints "It's false" if the variable below is False
# Hint: else:

my_boolean = False
if my_boolean:
  print("It's true")
else:
  print("It's false")

It's false

In [ ]:
# Exercise 2.9: Create an if statement that prints both are true if the two variables below are true
# Hint: use the and operator

boolean_1 = True
boolean_2 = True

if boolean_1 and boolean_2:
  print("Both are true")

In [ ]:
# Exercise 2.10: Create an if statement that prints "greater than" if the variable below is greater than 10
# Hint: Remember comparators: <, >, <=, >=, ==

number_1 = 9
if number_1 > 10:
  print("Greater than")
else:
  print("It is equal to or less than")

In [ ]:
# Exercise 2.11: Ask the user a trivia question and check with an if statement if they got the answer right, print if so
# You can do, what is the capital of Nicaragua?
# Hint: Use input() and then check the result in an if statement 

answer = input("What is the capital of Nicaragua?")

if answer == "Managua":
  print("Correct!")

What is the capital of Nicaragua?Managua
Correct!

In [ ]:
# Exercise 2.12: Loop through the below string and print each letter individually
# Hint: for <choose a variable name> in <the string>:
# Remember indentation

var_loop = "Looping"
for letter in var_loop:
  print(letter)

L
o
o
p
i
n
g

In [ ]:
# Exercise 2.13: Use the range function to loop through numbers 1-10
# Hint: for <choose a variable name> in range(<Last number, excluded>):

for number in range(1,11):
  print(number)

1
2
3
4
5
6
7
8
9
10

## Lesson 3
- Lists
- Tuples
- Dictionaries

In [ ]:
# Exercise 3.1: Create a list of five names and print it
# Hint: <list name> = [<Name 1>, <Name 2>, <Name 3>, <Name 4>, <Name 5>]
names = ["Leah", "Eric", "Raul", "Bryce", "Thomas"]

In [ ]:
# Exercise 3.2: Using the list you made above index into the second name and print it
# Hint: <list name>[<index of the second name>]
names = ["Leah", "Eric", "Raul", "Bryce", "Thomas"]
print(names[1])

Eric

In [ ]:
# Exercise 3.3: Get the second, third, and fourth names and print them
# Hint: <list name>[<index of the second>, <index of the element after the fourth>]
names = ["Leah", "Eric", "Raul", "Bryce", "Thomas"]
print(names[1:4])

['Eric', 'Raul', 'Bryce']

In [ ]:
# Exercise 3.4: Change the second name to some other name and print the list
# Hint: <list name>[<index of the second name>] = <Some other name>
names = ["Leah", "Eric", "Raul", "Bryce", "Thomas"]
names[1] = "Alex"
print(names)

['Leah', 'Alex', 'Raul', 'Bryce', 'Thomas']

In [ ]:
# Exercise 3.5: Insert a new name right before the last name and print the list
# Hint: <list name>.insert(<index of the last name>, <New name>)
names = ["Leah", "Eric", "Raul", "Bryce", "Thomas"]
names.insert(4, "New Name")
print(names)

['Leah', 'Eric', 'Raul', 'Bryce', 'New Name', 'Thomas']

In [ ]:
# Exercise 3.6: Create a tuple and print it!
# Hint: Tuples are similar to lists but instead of square brackets we use parentheses for creation
my_tuple = (30, 4)
print(my_tuple)

(30, 4)

In [ ]:
# Exercise 3.7: Create a dictionary of fruits, with keys being the name of the fruit, and values being their definitions, give three fruits
# Ex: apple: a red fruit, orange: an orange fruit, pear: a green fruit
# Feel free to use the example
# Hint: <dictionary name> = {
#   <key 1> : <insert value>,
#   <key 2> : <insert value>   
# }
fruits = {
    "apple" : "A red fruit",
    "orange" : "An orange fruit",
    "pear" : "A green fruit"
}

In [ ]:
# Exercise 3.8: Print the definition for one of your fruits
# Hint: <dictionary name>[<key>]
fruits = {
    "apple" : "A red fruit",
    "orange" : "An orange fruit",
    "pear" : "A green fruit"
}
print(fruits["pear"])

A green fruit

In [ ]:
# Exercise 3.9: Do the same thing as in 3.8 but use the .get() function
# Hint: <dictionary name>.get(<key>)
fruits = {
    "apple" : "A red fruit",
    "orange" : "An orange fruit",
    "pear" : "A green fruit"
}
print(fruits.get("pear"))

A green fruit

## Lesson 4:
- While loops
- Break
- Functions

In [ ]:
# Exercise 4.1: Declare a while loop that stops when the variable below reaches 10, and then prints the variable out
# Hint: while <Insert condition here>:
# Hint 2: Inside the while loop make sure to increase the variable below by 1 every time

my_int = 1 
while my_int < 11:
  print(my_int)
  my_int += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Exercise 4.2: Create a while loop that takes the user's input every iteration and breaks out when the user inputs "exit"
# Hint: Use the input function inside a while loop with True as its condition
while True:
  user_input = input("Type exit to exit: ")
  if user_input == 'exit':
    break

Type exit to exit:
Type exit to exit: exit

In [ ]:
# Exercise 4.3: Declare a function that prints out "hello!" and call it
# Hint: def <name of the function>():
def hi_function():
  print("Hello!")

hi_function()

Hello!

In [ ]:
# Exercise 4.4: Declare a function that takes in a name as an argument and prints the "Hello <the name>", call it!
# Hint: def <name of the function>(<argument name>):
def hi_name_function(name):
  print("Hello " + name + "!")

hi_name_function("Alex")

Hello Alex!

In [ ]:
# Exercise 4.5: Declare a function that returns the addition of two numbers and then call it!
# Hint: def <name of the function>(<argument 1>, <argument 2>):
# Hint 2: return <the value or variable to be returned>
def addition(num1, num2):
  return num1 + num2

print(addition(2,2))

4